.projects__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.4em;
}

@media (max-width: 900px) {
  .projects__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 580px) {
  .projects__grid {
    grid-template-columns: 1fr;
  }
}
